{% extends 'base.html' %}


{% block contenedor %}

    <div class="col-lg-5" style="float: none; margin: 30px auto; text-align: justify; color: rgb(127, 124, 124);">
        <br>
        <br>
        Esta pagina surge como un proyecto de base de datos de <strong>Carlos Alirio Chacon Hernandez</strong> y
        <strong>Stiven Valencia Zapata</strong> fue asesorado con compañeros de laboratorio de software con fines
        academicos a nivel de gestion de base de datos, escrito con el poder de python y con el framework Django para la
        facilidad de desarollo de este sitio web.
        <br>
        <br>
        En general este aplicativo permite hacer la gestion de una biblioteca, la cual presta los servicios de prestamos
        de libros tanto fisicos como digitales, documentales y periodicos.
    </div>

{% endblock %}