<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <link href="/static/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/bower_components/bootstrap/dist/css/bootstrap-theme.min.css" rel="stylesheet">
    <link href="/static/css/estilo.css" rel="stylesheet">
    <title>Biblioteca</title>
</head>
<body>

<header>
    <div class="col-lg-5" style="width: 40%; display: inline-block">
        <br>
        <h1 class="titulo"> Biblioteca educativa</h1>
    </div>
    {% if user.is_authenticated %}
        <form method="post"  action="/logout/" class="elemento_logueo" style="width: 50%; text-align: right; color: whitesmoke; height: 122px">
            {% csrf_token %}
            Bienvenido, su codigo es {{ user.username }}
            <button type="submit" class="btn btn-danger" style="background-color: #0089ae; color: whitesmoke"> Cerrar sesión</button>

        </form>
    {% else %}
        {% comment %}
        Un formulario se compone de el metodo y la accion, la accion es la url donde se va a mandar la peticion y el
        metodo es el metodo por el cual se va a mandar la peticion.
        para enviar una peticion es necesario un boton de tipo submit
        {% endcomment %}
        <form name="formulario_logueo"  method="post" action="/login/" class="elemento_logueo" style="width: 50%; text-align: right">
            {% csrf_token %}
            <p class="form-inline">
                <label for="username_id" style="margin-right: 9px"> Usuario : </label>
                <input name="username" id="username_id" type="text" class="form-control">
            </p>
            <p class="form-inline">
                <label for="password_id"> Password: </label>
                <input name="password" id="password_id" type="password" class="form-control">
            </p>

            <button type="submit" class="btn" style="background-color: #0089ae; color: whitesmoke"> Ingresar</button>

        </form>
        <p style="color: darkred">
            {{ mensaje_login_error }}
        </p>
    {% endif %}
    <div>
        <ul class="menu">
            <li><a href="/">Inicio </a> | </li>
            {% if user.is_authenticated %}
                <li><a href="/listar/libros/">Libros </a> | </li>
                <li><a href="/listar/documentales/">Documentales </a> | </li>
                <li><a href="/listar/libros_digitales/">Libros digitales </a> | </li>
                <li><a href="/listar/periodicos/">Periodicos</a> | </li>
                <li><a href="/prestamo/">Ver prestamo</a> | </li>
                <li><a href="/multa/">Ver multa</a></li>
            {% else %}
                <li><a href="/acerca_de_nosotros/">Acerca de nosotros</a> | </li>
                <li><a href="/registrarse/">Registrarse</a></li>
            {% endif %}
        </ul>
    </div>
</header>

<div class="contenedor">
    {% block contenedor %}

        <div class="col-lg-5" style="float: none; margin: 30px auto; text-align: justify; color: rgb(127, 124, 124);">
            <br>
            <br>
            <br>
            <br>
            Bienvenido a la biblioteca educativa, aqui encontraras los libros disponibles para tu educacion por favor
            suministre los datos que sean requeridps para hacer la administración necesaria de la biblioteca de su
            parte.<br>
            Si ya se encuentra  registrado para loguearse solo necesita colocar su dni como usuario y el codigo de su
            carnet como contraseña.

        </div>
    {% endblock %}
</div>

<footer>

</footer>

</body>
</html>