{% extends 'base.html' %}

{% block contenedor %}

    <br>

    <form method="get" action="/listar/documentales/">
        <p  style="display: inline-block" class="form-inline">
            <label for="titulo_id">
                Titulo :
            </label>
            <input type="text" name="titulo" id="titulo_id" class="form-control">
        </p>
        <p  style="display: inline-block" class="form-inline">
            <label for="tema_id">
                Tema :
            </label>
            <input type="text" name="tema" id="tema_id" class="form-control">
        </p>
        <button class="glyphicon glyphicon-search" style="display: inline-block; height: 30px">
        </button>
    </form>


    {% for query in queries %}
        <p>
        {{ query }}
        </p>
        <br>
    {% endfor %}

    <div class="panel panel-default">

        <div class="panel-heading">
            <h3 align="center">Documentales</h3>
        </div>


        <table class="table">
            <thead>
            <tr role="row">
                <th>Titulo</th>
                <th>Temas</th>
                <th>Autores</th>
                <th>Ejemplares disponibles</th>
            </tr>
            </thead>
            <tbody>
            {% for documental in documentales%}
                <tr>
                    <td>
                        <p>
                            {{ documental.titulo }}
                        </p>
                    </td>
                    <td>
                        <ul>
                            {% for tema in documental.temas.all %}
                                <li>
                                    <p>
                                        {{ tema.nombre }}
                                    </p>
                                </li>
                            {% endfor %}
                        </ul>
                    </td>
                    <td>
                        <ul>
                            {% for autor in documental.autores.all %}
                                <li>
                                    <p>
                                        {{ autor.nombre }}
                                    </p>
                                </li>
                            {% endfor %}
                        </ul>
                    </td>
                    <td>
                        <p>
                            {{ documental.ejemplares }}
                        </p>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}