{% extends 'base.html' %}

{% block contenedor %}

    <br>

    <form method="get" action="/listar/libros/">
        <p  style="display: inline-block" class="form-inline">
            <label for="autor_id">
                Autor :
            </label>
            <input type="text" name="autor" id="autor_id" class="form-control">
        </p>
        <p  style="display: inline-block" class="form-inline">
            <label for="libro_id">
                Libro :
            </label>
            <input type="text" name="libro" id="libro_id" class="form-control">
        </p>
        <p  style="display: inline-block" class="form-inline">
            <label for="tema_id">
                Tema :
            </label>
            <input type="text" name="tema" id="tema_id" class="form-control">
        </p>
        <button type="submit" class="glyphicon glyphicon-search" style="display: inline-block; height: 30px">
        </button>
    </form>
    {% for query in queries %}
        <p>
        {{ query }}
        </p>
        <br>
    {% endfor %}

    <div class="panel panel-default">

        <div class="panel-heading">
            <h3 align="center">Libros</h3>
        </div>


        <table class="table">
            <thead>
            <tr role="row">
                <th>ISBN</th>
                <th>Titulo</th>
                <th>Temas</th>
                <th>Autor</th>
                <th>Editorial</th>
            </tr>
            </thead>
            <tbody>
            {% for libro in libros %}
                <tr>
                    <td>
                        <p>
                            {{ libro.isbn }}
                        </p>
                    </td>
                    <td>
                        <p>
                            {{ libro.titulo }}
                        </p>
                    </td>
                    <td>
                        <ul>
                            {% for tema in libro.temas %}
                                <li>
                                    <p>
                                        {{ tema.nombre }}
                                    </p>
                                </li>
                            {% endfor %}
                        </ul>
                    </td>
                    <td>
                        <ul>
                            {% for autor in libro.autores %}
                                <li>
                                    <p>
                                        {{ autor.nombre }}
                                    </p>
                                </li>
                            {% endfor %}
                        </ul>
                    </td>
                    <td>
                        <p>
                            {{ libro.editoriales_id_editoriales.nombre }}
                        </p>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}