{% extends 'base.html' %}

{% block contenedor %}

    <br>

    <form method="get" action="/listar/libros_digitales/">
        <p  style="display: inline-block" class="form-inline">
            <label for="autor_id">
                Autor :
            </label>
            <input type="text" name="autor" id="autor_id" class="form-control">
        </p>
        <p  style="display: inline-block" class="form-inline">
            <label for="titulo_id">
                Titulo :
            </label>
            <input type="text" name="titulo" id="titulo_id" class="form-control">
        </p>
        <button class="glyphicon glyphicon-search" style="display: inline-block; height: 30px">
        </button>
    </form>


    {% for query in queries %}
        <p>
        {{ query }}
        </p>
        <br>
    {% endfor %}


    <div class="panel panel-default">

        <div class="panel-heading">
            <h3 align="center">Libros digitales</h3>
        </div>


        <table class="table">
            <thead>
            <tr role="row">
                <th>ISBN</th>
                <th>Titulo</th>
                <th>Temas</th>
                <th>Autores</th>
                <th>Editorial</th>
            </tr>
            </thead>
            <tbody>
            {% for libro_digital in libros_digitales %}
                <tr>
                    <td>
                        <p>
                            {{ libro_digital.isbn }}
                        </p>
                    </td>
                    <td>
                        <p>
                            {{ libro_digital.titulo }}
                        </p>
                    </td>
                    <td>
                        <ul>
                            {% for tema in libro_digital.temas.all %}
                                <li>
                                    <p>
                                        {{ tema.nombre }}
                                    </p>
                                </li>
                            {% endfor %}
                        </ul>
                    </td>
                    <td>
                        <ul>
                            {% for autor in libro_digital.autores.all %}
                                <li>
                                    <p>
                                        {{ autor.nombre }}
                                    </p>
                                </li>
                            {% endfor %}
                        </ul>
                    </td>
                    <td>
                        <p>
                            {{ libro_digital.editoriales_id_editoriales.nombre }}
                        </p>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}