{% extends 'base.html' %}

{% block contenedor %}

    <br>

    <form method="get" action="/listar/periodicos/">
        <p  style="display: inline-block" class="form-inline">
            <label for="nombre_id">
                Nombre :
            </label>
            <input type="text" name="nombre" id="nombre_id" class="form-control">
        </p>
        <button class="glyphicon glyphicon-search" style="display: inline-block; height: 30px">
        </button>
    </form>


    {% for query in queries %}
        <p>
        {{ query }}
        </p>
        <br>
    {% endfor %}

    <div class="panel panel-default">

        <div class="panel-heading">
            <h3 align="center">Periodicos</h3>
        </div>


        <table class="table">
            <thead>
            <tr role="row">
                <th>Nombre</th>
                <th>Fecha de publicacion</th>
                <th>Cantidad</th>
            </tr>
            </thead>
            <tbody>
            {% for periodico in periodicos %}
                <tr>
                    <td>
                        <p>
                            {{ periodico.nombre }}
                        </p>
                    </td>
                    <td>
                        <p>
                            {{ periodico.fecha_publicacion }}
                        </p>
                    </td>
                    <td>
                        <p>
                            {{ periodico.cantidad }}
                        </p>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}